* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	--bg-color: #f8f8f8;
	--shade-color: #e5e5e5;
	--font: "Poppins", sans-serif;
	background-color: var(--bg-color);
	font-family: var(--font);
}

.wrapper {
	position: relative;
	display: flex;
	gap: 50px;
	width: 595px;
	height: 842px;
	margin: 5rem auto;
	/* border: 1px solid black; */
}

.left {
	flex-basis: 233px;
	margin-left: 15px;
	height: 100%;
	background-color: var(--shade-color);
	/* border: 1px solid orangered; */
}
.box,
.avatar {
	margin: 0 15px;
}
.col {
	width: 100%;
	height: 100%;
	/* display: flex; */
	/* flex-direction: column; */
}
.right {
	flex: 1;
	margin-right: 15px;
}

h1.title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 11px 0;
}
img {
	display: block;
	width: 100%;
	height: 126px;
	object-fit: cover;
	filter: brightness(1.3);
	/* object-position: top center; */
}

.header-white,
.header-color {
	border: 1px solid black;
	/* width: 185px; */
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	line-height: 19px;
	margin: 20px auto;
}
.header-color {
	background-color: var(--shade-color);
}
.header-white {
	background-color: var(--bg-color);
}
.header-white h3,
.header-color h3 {
	display: inline-block;
	margin-left: 5px;
}
.title {
	font-size: 11px;
	line-height: 15px;
	letter-spacing: -0.02em;
	text-transform: none;
	font-weight: 400;
}
address {
	font-style: normal;
}
.title a,
.project a {
	color: inherit;
	text-decoration: none;
	text-transform: lowercase;
}
.title h4 {
	margin: 5px 0;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.03em;
	text-transform: lowercase;
}

p,
li {
	font-size: 11px;
	font-weight: 400;
}

ul {
	list-style: none;
	margin: 0;
}
/* RIGHT */

h2 {
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	margin: 15px 0;
}

footer {
	position: absolute;
	bottom: 10px;
	left: 25px;
	right: 10px;
}
blockquote {
	font-size: 8px;
}

.project h4 {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 10px;
}
.project a {
	font-size: 9px;
	padding: 15px 0;
}
.project p {
	font-size: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
}
